@font-face {
  font-family: "karst";
  src: url("../public/fonts/Karst-ExtraBold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "karst";
  src: url("../public/fonts/Karst-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: "karst", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

@import "tailwindcss";
